* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body,
html {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
}